<nav>
    <ul>
        <li>
            <a href="{% url 'autores:home' %}">Home</a>
        </li>
        <li>
            <a href="#">Publicaciones</a>
        </li>
        <li>
            <a href="#">Nostros</a>
        </li>
        <li>
            {% if request.user.is_authenticated %}
            <a href="{% url 'autores:logout' %}">cerrar sesion</a>
            {% else %}
            <a href="{% url 'autores:login' %}">iniciar sesion</a>
            {% endif %}
        </li>
    </ul>
</nav>